spring:
  application:
      name: producer-workbench


  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
  server:
    port: 8080
